extends layout

block content
   .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              nav
                ul.nav.masthead-nav
                  li
                    a(href='#') About
          .inner.cover
            h1.cover-heading.title-font PHINDER
            p.lead
              ul.nav.nav-tabs.nav-justified
                li.active
                  a(data-toggle="tab", href="#twitter") Twitter
                li
                  a(data-toggle="tab", href="#regular") Regular
            .tab-content
              #twitter.tab-pane.fade.in.active
                .form-group
                  form(action="twitterpost", method="post")            
                    input.form-control(type='text', name='twitter', placeholder='Place your Twitter name here')
                    br
                    input.btn.btn-lg.btn-default(type='submit', name='twittersubmit')
              #regular.tab-pane.fade
                .form-group
                  form(action="regularpost", method="post")
                    textarea#comment.form-control(rows='5', name='you', placeholder='Talk about yourself...')
                    br
                    input.btn.btn-lg.btn-default(type='submit', name='regularsubmit')
             
append footer
