extends layout

block content
   .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            b.title-font PHINDER
            b the Philosophy Matchmaker
        .col-lg
              .responsive-table
                table
                  thead
                  tbody
                    tr
                      td
                        .cover.icons.img  Fadi Bitar
                      td
                        .cover.icons.img  Mark Moussa
                      td
                        .cover.icons.img  Christian Horton
                    tr
                      td
                        .cover  Front-end Developer
                      td
                        .cover  Full-stack Developer
                      td
                        .cover  UI Developer
                    tr.img
                      td
                        img(src="/public/images/fadi1.png")
                      td
                        img(src="/public/images/mark1.jpg")
                      td
                        img(src="/public/images/chris1.jpg")

append footer
