extends layout

block content
   .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            .cover-heading.title-font PHINDER


          .cover.icons.img  Fadi Bitar
              .cover  Front-end Developer
              img(src="/public/images/fadi1.png")

          .cover.icons.img  Mark Moussa
              .cover  Full-stack Developer
              img(src="/public/images/mark1.jpg")

          .cover.icons.img  Christian Horton
              .cover  UI Developer
              img(src="/public/images/chris1.jpg")

append footer
