extends layout

block content
   .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              nav
                ul.nav.masthead-nav
                  li
                    a(href='#') About
          .inner.cover
            .row
              .col-xs-6
                .panel.panel-default
                  .panel-heading Philosopher
                  .panel-body
                    ul.list-group
                      li.list-group-item Philosopher
                      li.list-group-item 
                        img.photo(src='https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg')
                      li.list-group-item WIKIPEDIA
              .col-xs-6
                .panel.panel-default
                  .panel-heading Information
                  .panel-body
                    ul.list-group
                      li.list-group-item Personality
                      li.list-group-item "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                         



append footer
