extends layout

block content
  h1 Oh no :(
  h1 Twitter username not found or not enough tweets to decipher answer! Try again.
  h2 Phinder requires that you have a large sum of tweets to obtain a result.
